<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>PingPongr</title>
        <link rel="stylesheet" href="/public/stylesheets/style.css" />
    </head>
    <body>
        <h1>PingPongr</h1>

        <h2>Available Tables</h2>
        <ul class="table-list">
        <%  var table, i;
            for (i = 0; i < tables.length; i++) { 
                table = tables[i]; 
        %>
            <li><a href="/scorekeeper/<%= table.id %>/">
                <%= table.room %> - <%= table.name %>
            </a></li>
        <% } %>
        </ul>
    </body>
</html>